.main {
  height: 75vh;
}

.card {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card:hover {
  box-shadow: 24px 18px 17px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 24px 18px 17px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 24px 18px 17px -10px rgba(0, 0, 0, 0.75);
}

.Text-Center {
  text-align: center;
}

.color {
  background-color: #00539cff;
}

/* Carousel styles */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 310px;
  padding: 30px;
  margin: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}
